.medias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 90px;
    margin: 50px 0 100px;
}

.media-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    width: fit-content;
    border-radius: 5px;
    background: #fff;
}

.media-container-source {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 350px;
    height: 300px;
    cursor: pointer;
}

.media-container-source img,
.media-container-source video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-container h3 {
    grid-column: 1 / 2;
    align-self: end;
    height: 40px;
    margin: 0;
    padding-top: 10px;
    color: #901c1c;
    font-size: 18px;
}

.media-like {
    grid-column: 2 / 3;
    align-self: end;
    justify-self: end;
    height: 40px;
    padding-top: 10px;

    display: flex;
    align-items: center;
}

.media-like .media-like-counter {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 250ms, font-weight 250ms;
}

.media-like.liked .media-like-counter {
    font-size: 24px;
    font-weight: 600;
    color: #901c1c;
}

.media-like-btn {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* media slide */

.media-slide-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    background: #fff;
}

.media-slide-container .media-container {
    width: 100vh;
    height: 100vh;
    padding: 50px;
}

.media-slide-container .media-container-source,
.media-slide-container .media-container-source,
.media-slide-container .media-container-source img,
.media-slide-container .media-container-source video {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.media-slide-container .media-slide-btn-left {
    grid-column: 0;
    grid-row: 1;
    justify-self: end;
    transform: rotate(-45deg);
}

.media-slide-container .media-slide-btn-right {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    transform: rotate(135deg);
}

.media-slide-container .media-slide-btn-left,
.media-slide-container .media-slide-btn-right {
    border: 8px solid #901c1c;
    border-right: 0;
    border-bottom: 0;
    height: 35px;
    width: 35px;
    background: transparent;
}

.media-slide-container .btn-close {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    margin-top: 50px;
}

/* Sorter */

.media-sorter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.media-sorter label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.media-sorter .listbox li {
    text-indent: 0;
    transition: text-indent 500ms;
}

.media-sorter .listbox li:hover,
.media-sorter .listbox li:focus {
    text-indent: 10px;
}

/* Heart - like */

.heart {
    fill: #901c1c;
}
