#contact_modal {
    display: none;
}

.photographer-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    height: 18.75rem; /*300px*/
}

.photographer-header--content-center h1 {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.photographer-header .photographer-complementary,
.photographer-header button,
.photographer-header .container-image-photographer {
    align-self: center;
}

.photographer-header .photographer-complementary {
    margin-left: 3.125rem; /*50px*/
    justify-self: start;
}

.photographer-header .photographer-complementary h1 {
    margin: 0;
    color: #d3573c;
    font-size: 3.125rem; /*50px*/
}

.photographer-complementary .photographer-location {
    font-size: 1.5rem; /*24px*/
    font-weight: 500;
}

.photographer-header button {
    justify-self: center;
}

.photographer-header .container-image-photographer {
    justify-self: end;
    margin-right: 3.125rem; /*50px*/
}

/* Modal */

.modal {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: all 750ms ease;
}

.modal-open {
    z-index: 3000;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
}

/* Contact form */

.contact-form {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2.1875rem; /*35px*/
    margin: auto;
}

.contact-form header {
    display: flex;
    width: 100%;
}

.contact-form header .btn-close {
    align-self: start;
    margin-left: auto;
    cursor: pointer;
}

.contact-form header h2 {
    align-self: start;
    font-size: 3.75rem; /*60px*/
    font-weight: normal;
    margin: 0;
}

.contact-form header h2 span {
    display: block;
}

.contact-form form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form form label {
    color: #312e2e;
    font-size: 2.25rem; /*36px*/
}

.contact-form form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.625rem; /*26px*/
}

.contact-form form input {
    width: 100%;
    height: 4.25rem; /*68px*/
    padding: 0.625rem; /*10px*/
    border: none;
    border-radius: 5px;
    font-size: 1.375rem; /*22px*/
}

.contact-form form textarea {
    width: 100%;
    min-height: 10.625rem; /*170px*/
    padding: 0.625rem; /*10px*/
    border: none;
    border-radius: 5px;
    font-size: 1.375rem; /*22px*/
    resize: vertical;
}
