@import url("photographer.css");
@import url("media.css");
@import url("complementary.css");

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

label,
button {
    cursor: pointer;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.btn,
.btn-contact {
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #901c1c;
    color: #fff;
    transition: background 500ms, color 500ms;
}

.btn:hover {
    background: #db8876;
    color: #000;
}

.btn-close {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-close--white {
    fill: #fff;
}

.btn-close--orange {
    fill: #901c1c;
}

.btn-listbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
    padding: 0 22px;
    border: none;
    border-radius: 5px;
    background: #901c1c;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.arrow {
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    transform: rotate(45deg);
    transition: transform 0.65s;
}

.arrow.open {
    transform: rotate(225deg);
}

.listbox {
    position: absolute;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: -3px;
    padding: 5px 22px 0 22px;
    list-style: none;
    border: none;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    background: #901c1c;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.85s, opacity 0.25s;
}

.listbox.open {
    max-height: 100%;
    opacity: 1;
}

.listbox.hide {
    display: none;
}

.listbox li {
    height: 70px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    cursor: pointer;
}

.focusable {
    outline: 0px;
    transition: outline 125ms ease;
}

.focusable:focus {
    outline: 4px solid royalblue;
}

.body-scroll--none {
    overflow: hidden;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header.header-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.photographer-location {
    color: #901c1c;
}

.photographer-tagline {
    color: #525252;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article .photographer-complementary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article .photographer-complementary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    line-height: 1.5;
}

.photographer_section article .photographer-complementary p {
    margin: 0;
}

.photographer_section article .photographer-location {
    color: #901c1c;
    font-weight: 600;
    font-size: 14px;
}

.photographer_section article .photographer-tagline {
    font-size: 14px;
}

.photographer_section article .photographer-price {
    color: #525252;
    font-size: 12px;
}

.photographer_section article h2 {
    margin: 20px 0 10px;
    color: #d3573c;
    font-size: 36px;
}

.container-image-photographer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 5px 40px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.container-image-photographer--loading {
    background: linear-gradient(-45deg, #fff, #eee, #fff, #eee, #fff);
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: gradient 2s ease infinite;
}

.image-photographer {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 0;
}

.image-photographer-opacity-progress {
    animation: opacity-progressive 4000ms ease forwards;
}

@keyframes opacity-progressive {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
